// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8939.dtsi"
#include "pm8916.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/sound/apq8016-lpass.h>

/ {
	model = "Huawei MediaPad T2 Pro 10";
	compatible = "huawei,federer", "qcom,msm8939";
	chassis-type = "tablet";
	qcom,msm-id = <239 0>;
	qcom,board-id =	<8000 0>, <8000 4>,
                    <8016 0>, <8016 4>,
                    <8032 0>, <8032 4>,
                    <8112 0>, <8112 4>,
                    <8128 0>, <8128 4>;

	aliases {
		serial0 = &blsp1_uart2;
	};

	chosen {
		stdout-path = "serial0";
	};

	reserved-memory {
		/delete-node/ venus@90000000;
		/delete-node/ rmtfs@86681000;
		/delete-node/ rfsa@867e0000;
		/delete-node/ mba@8ea00000;

		cont_splash_mem: framebuffer@83000000 {
			compatible = "removed-dma-pool";
			reg = <0x0 0x83000000 0x0 0x2000000>;
			no-map;
		};

		reserved@85000000 {
			reg = <0x0 0x85000000 0x0 0x1000000>;
			no-map;
		};

		rmtfs@86690000 {
			compatible = "qcom,rmtfs-mem";
			reg = <0x0 0x86690000 0x0 0x100000>;
			no-map;
			qcom,client-id = <1>;
		};

		gps_mem: gps@8c400000 {
			status = "disabled";
			reg = <0x0 0x8c400000 0x0 0x200000>;
			no-map;
		};

		tz-apps@8c700000 {
			reg = <0x0 0x8c700000 0x0 0x400000>;
			no-map;
		};

		ramoops: ramoops_mem_region@8cb00000 {
			compatible = "ramoops";
			reg = <0x0 0x8cb00000 0x0 0x200000>;

			record-size = <65536>;
			console-size = <1048576>;
			ftrace-size = <0>;
		};

		venus_mem: venus@8f800000 {
			reg = <0x0 0x8f800000 0x0 0x800000>;
			no-map;
		};

		reserved@f7800000 {
			reg = <0x0 0xf7800000 0x0 0x8400000>;
			no-map;
		};

		mba_mem: mba@ffc00000 {
			reg = <0 0xffc00000 0 0x400000>;
			no-map;
		};
	};

	bat: battery {
		compatible = "simple-battery";
		voltage-min-design-microvolt = <3400000>;
		voltage-max-design-microvolt = <4350000>;
		energy-full-design-microwatt-hours = <24700000>;
		charge-full-design-microamp-hours = <6500000>;

        precharge-current-microamp = <1300000>;
        charge-term-current-microamp = <650000>;

		ocv-capacity-celsius = <25>;
		ocv-capacity-table-0 = <4314000 100>, <4252000 95>, <4197000 90>,
					<4143000 85>, <4092000 80>, <4044000 75>, <3999000 70>,
					<3953000 65>, <3905000 60>, <3868000 55>, <3841000 50>,
					<3818000 45>, <3799000 40>, <3783000 35>, <3767000 30>,
					<3748000 25>, <3724000 20>, <3699000 16>, <3678000 13>,
					<3671000 11>, <3668000 10>, <3664000 9>, <3659000 8>,
					<3649000 7>, <3627000 6>, <3588000 5>, <3535000 4>,
					<3469000 3>, <3381000 2>, <3252000 1>, <3000000 0>;
	};

	gpio-hall-sensor {
		compatible = "gpio-keys";

		pinctrl-names = "default";
		pinctrl-0 = <&gpio_hall_sensor_default>;

		label = "GPIO Hall Effect Sensor";

		hall-sensor {
			label = "Hall Effect Sensor";
			gpios = <&msmgpio 69 GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_SW>;
			linux,code = <SW_LID>;
			linux,can-disable;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		pinctrl-names = "default";

		label = "GPIO Buttons";

		volume-up {
			label = "Volume Up";
			gpios = <&msmgpio 107 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
		};
	};

	leds {
		compatible = "gpio-leds";

		pinctrl-names = "default";
		pinctrl-0 = <&gpio_leds_default>;

		led-0 {
			gpios = <&msmgpio 8 GPIO_ACTIVE_HIGH>;
			label = "red";
			default-state = "off";
			retain-state-suspended;
		};

		led-1 {
			gpios = <&msmgpio 9 GPIO_ACTIVE_HIGH>;
			label = "green";
			default-state = "off";
			retain-state-suspended;
		};

		led-2 {
			gpios = <&msmgpio 10 GPIO_ACTIVE_HIGH>;
			label = "blue";
			default-state = "off";
			retain-state-suspended;
		};
	};

	reg_lcd_iovcc: iovcc {
		compatible = "regulator-fixed";
		regulator-name = "iovcc";
		vin-supply = <&reg_lcd_pos>;	
		gpio = <&msmgpio 97 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		//regulator-always-on;
		regulator-boot-on;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_iovcc_default>;
	};

	reg_lcd_vled: vled {
		compatible = "regulator-fixed";
		regulator-name = "vled";
		vin-supply = <&reg_lcd_neg>;		
		gpio = <&msmgpio 32 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		//regulator-always-on;
		regulator-boot-on;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_vled_default>;
	};

	reg_lcd_pos: regulator-lcd-pos {
		compatible = "regulator-fixed";
		regulator-name = "lcd_pos";
		regulator-min-microvolt = <5400000>;
		regulator-max-microvolt = <5400000>;
		//regulator-always-on;
		regulator-boot-on;
	};

	reg_lcd_neg: regulator-lcd-neg {
		compatible = "regulator-fixed";
		regulator-name = "lcd_neg";
		regulator-min-microvolt = <5400000>;
		regulator-max-microvolt = <5400000>;
		//regulator-always-on;
		regulator-boot-on;
	};

	/*reg_vcc5v0: vcc5v0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;

		gpio = <&msmgpio 2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_en_default>;
	};*/

	speaker_amp: audio-amplifier {
		compatible = "simple-audio-amplifier";
        VCC-supply = <&reg_spk_ext_pa_boost>;
		enable-gpios = <&msmgpio 3 GPIO_ACTIVE_HIGH>;
		sound-name-prefix = "Speaker Amp";

		gpio = <&msmgpio 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
        startup-delay-us = <100>;
		pinctrl-names = "default";
		pinctrl-0 = <&speaker_amp_default>;
	};

	headphones_switch: audio-switch {
		compatible = "simple-audio-amplifier";
		enable-gpios = <&msmgpio 0 GPIO_ACTIVE_HIGH>;

		pinctrl-names = "default";
		pinctrl-0 = <&headphones_switch_default>;
		sound-name-prefix = "Headphones Switch";
	};

	usb_id: usb-id {
		compatible = "linux,extcon-usb-gpio";
		id-gpio = <&msmgpio 117 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_id_default>;
	};

	reg_spk_ext_pa_boost: spk-ext-pa-boost {
		compatible = "regulator-fixed";
		regulator-name = "spk_ext_pa_boost";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;

		gpio = <&msmgpio 2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&spk_ext_pa_boost_default>;
	};
};

&blsp_dma {
	status = "okay";
};

&blsp_i2c2 {
	status = "okay";

	accelerometer@1f {
		compatible = "kionix,kx023-1025";
		reg = <0x1f>;

		interrupt-parent = <&msmgpio>;
		interrupts = <115 IRQ_TYPE_EDGE_RISING>;

		vdd-supply = <&pm8916_l17>;
		vddio-supply = <&pm8916_l6>;

		pinctrl-names = "default";
		pinctrl-0 = <&accel_irq_default>;

		mount-matrix =  "-1", "0", "0",
				"0", "-1", "0",
				"0", "0", "1";
        };
};

&blsp_i2c4 {
	status = "okay";

	/* charger: bq24296@6B { // fot ti reference driver
		compatible = "ti,bq24296";
		reg = <0x6B>;
		
		//monitored-battery = <&bat>;
		interrupt-parent = <&msmgpio>;
		interrupts = <62 IRQ_TYPE_EDGE_FALLING>;
		
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&bq_irq_default>; // &bq_dc_irq_default>;
		pinctrl-1 = <&bq_irq_sleep>;
		
		ti,bq2429x,usb-vlim = <4400>;
		ti,bq2429x,usb-ilim = <500>;
		ti,bq2429x,usb-ichg = <500>;
		ti,bq2429x,usb-vreg = <4200>;

		ti,bq2429x,ta-vlim = <4400>;
		ti,bq2429x,ta-ilim = <2000>;
		ti,bq2429x,ta-ichg = <2000>;
		ti,bq2429x,ta-vreg = <4200>;		
			
		ti,bq2429x,precharge-current = <180>;
		ti,bq2429x,termination-current = <180>;
		ti,bq2429x,boost-volt = <5000>;
		ti,bq2429x,enable_term;
	};*/

	/*charger: bq24296@6b { //charger gd
		compatible = "ti,bq24296";
		reg = <0x6b>;

		monitored-battery = <&bat>;
		ti,chg_current = <1000 500 2000>; // chg_current (max for the battery), usb_input_current, adp_input_current

		interrupt-parent = <&msmgpio>;
		interrupts = <62 IRQ_TYPE_EDGE_FALLING>;
		dc-det = <108 GPIO_ACTIVE_LOW>;*/
		
		/*pinctrl-names = "default", "sleep";
		pinctrl-0 = <&bq_irq_default &bq_dc_default>;
		pinctrl-1 = <&bq_irq_sleep>;*/

	/*	regulators {
			vsys_reg: vsys_regulator {
				regulator-compatible = "bq2429x-vsys";
				regulator-name = "vsys";
//				regulator-min-microvolt = <3500000>;
//				regulator-max-microvolt = <4200000>;
				regulator-always-on;
				regulator-boot-on;
			};
			otg_reg: otg_regulator {
				regulator-compatible = "bq2429x-otg";
				regulator-name = "otg";
//				regulator-min-microvolt = <4900000>;
//				regulator-max-microvolt = <5100000>;
			};
		};
	};*/

	bq24296: charger@6b {
		compatible = "ti,bq24296";
		reg = <0x6b>;

		interrupt-parent = <&msmgpio>;
		interrupts = <62 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&charger_irq_default &chg_ctl_default>; // &otg_en>;
		ti,system-minimum-microvolt = <3200000>;
		monitored-battery = <&bat>;
		omit-battery-class;

		usb_otg_vbus: usb-otg-vbus { };
	};

	ncp6335d: ncp6335d-regulator@1c {
		compatible = "onnn,ncp6335d";
		reg = <0x1c>;
		pinctrl-names = "default";
		pinctrl-0 = <&ext_buck_vsel>;
		regulator-min-microvolt = <1050000>;
		regulator-max-microvolt = <1350000>;
		regulator-always-on; // otherwise device ~shuts off after ~30s
		onnn,vsel = <0>;
		onnn,slew-ns = <3333>;
		onnn,step-size = <6250>;
		onnn,min-slew-ns = <416>;
		onnn,max-slew-ns = <3333>;
		onnn,min-setpoint = <600000>;
		onnn,vsel-gpio = <&msmgpio 111 GPIO_ACTIVE_LOW>;
		onnn,discharge-enable;
		onnn,restore-reg;
	};

	fan53555: fan53555-regulator@60 {
		status = "disabled";
		compatible = "fcs,fan53555";
		reg = <0x60>;
		pinctrl-names = "default";
		pinctrl-0 = <&ext_buck_vsel>;
		regulator-min-microvolt =  <1050000>;
		regulator-max-microvolt = <1350000>;
		regulator-ramp-delay = <1250>;
		regulator-always-on;
		vsel-gpios = <&msmgpio 111 GPIO_ACTIVE_LOW>;
	};
};

&blsp_i2c5 {
	status = "okay";

	touchscreen@1a {
		compatible = "cypress,cyttsp5";
		reg = <0x1a>;

		interrupt-parent = <&msmgpio>;
		interrupts = <13 0x2008>;
		reset-gpios = <&msmgpio 12 0x0>;
	};
};

&blsp1_uart2 {
	status = "okay";
};

&dsi0 {
	/*pinctrl-names = "default", "sleep";
	pinctrl-0 = <&mdss_default>;
	pinctrl-1 = <&mdss_sleep>;*/

	panel@0 {
		compatible = "boe,nt51021-10-1200p";
		reg = <0>;

		vled-supply = <&reg_lcd_vled>;
		iovcc-supply = <&reg_lcd_iovcc>;
		//pp1800-supply = <&pp1800_lcd>;

		reset-gpios = <&msmgpio 25 GPIO_ACTIVE_LOW>;
		backlight-gpios = <&msmgpio 109 GPIO_ACTIVE_HIGH>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi0_out>;
			};
		};
	};
};

&dsi0_out {
	data-lanes = <0 1 2 3>;
	remote-endpoint = <&panel_in>;
};

&dsi_phy0 {
	qcom,dsi-phy-regulator-ldo-mode;
};

&lpass {
	status = "okay";
};

&mdss {
	status = "okay";
};

&pm8916_bms {
	status = "okay";

	monitored-battery = <&bat>;
	power-supplies = <&bq24296>;
};

&pm8916_resin {
	status = "okay";
	linux,code = <KEY_VOLUMEDOWN>;
};

&pm8916_vib {
	status = "okay";
};

&pronto {
	status = "okay";

	iris {
		compatible = "qcom,wcn3660b";
	};
};

&sdhc_1 {
	status = "okay";

	vmmc-supply = <&pm8916_l8>;
	vqmmc-supply = <&pm8916_l5>;

	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sdc1_clk_on &sdc1_cmd_on &sdc1_data_on>;
	pinctrl-1 = <&sdc1_clk_off &sdc1_cmd_off &sdc1_data_off>;
};

&sdhc_2 {
	status = "okay";

	vmmc-supply = <&pm8916_l11>;
	vqmmc-supply = <&pm8916_l12>;

	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sdc2_clk_on &sdc2_cmd_on &sdc2_data_on &sdc2_cd_on>;
	pinctrl-1 = <&sdc2_clk_off &sdc2_cmd_off &sdc2_data_off &sdc2_cd_off>;

	cd-gpios = <&msmgpio 38 GPIO_ACTIVE_HIGH>;
};

&sound {
	status = "okay";

	pinctrl-names = "default", "sleep";

	pinctrl-0 = <&cdc_pdm_lines_act>;
	pinctrl-1 = <&cdc_pdm_lines_sus>;

	model = "oppo-a51f";
	audio-routing =
		"Speaker Amp INL", "HPH_L_EXT",
		"Speaker Amp INR", "HPH_R_EXT",
		"Headphones Switch INL", "HPH_L",
		"Headphones Switch INR", "HPH_R",
		"AMIC1", "MIC BIAS External1",
		"AMIC2", "MIC BIAS External2",
		"AMIC3", "MIC BIAS External1";
	aux-devs = <&speaker_amp>, <&headphones_switch>;

	dai-link-primary {
		link-name = "Primary MI2S";
		cpu {
			sound-dai = <&lpass MI2S_PRIMARY>;
		};
		codec {
			sound-dai = <&lpass_codec 0>, <&wcd_codec 0>;
		};
	};

	dai-link-tertiary {
		link-name = "Tertiary MI2S";
		cpu {
			sound-dai = <&lpass MI2S_TERTIARY>;
		};
		codec {
			sound-dai = <&lpass_codec 1>, <&wcd_codec 1>;
		};
	};
};

&usb {
	status = "okay";
	extcon = <&bq24296>, <&usb_id>;
	vbus-supply = <&usb_otg_vbus>;
};

&usb_hs_phy {
	extcon = <&bq24296>;
	v1p8-supply = <&pm8916_l7>;
	v3p3-supply = <&pm8916_l13>;
};

&wcd_codec {
	qcom,micbias-lvl = <2800>;
	qcom,mbhc-vthreshold-low = <75 150 237 450 500>;
	qcom,mbhc-vthreshold-high = <75 150 237 450 500>;
	qcom,micbias1-ext-cap;
	qcom,hphl-jack-type-normally-open;
};

&rpm_requests {
	smd_rpm_regulators: pm8916-regulators {
		compatible = "qcom,rpm-pm8916-regulators";
		vdd_l1_l2_l3-supply = <&pm8916_s3>;
		vdd_l4_l5_l6-supply = <&pm8916_s4>;
		vdd_l7-supply = <&pm8916_s4>;

		pm8916_s3: s3 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1300000>;
		};

		pm8916_s4: s4 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2100000>;
		};

		pm8916_l1: l1 {
			regulator-min-microvolt = <1225000>;
			regulator-max-microvolt = <1225000>;
		};

		pm8916_l2: l2 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
		};

		pm8916_l4: l4 {
			regulator-min-microvolt = <2050000>;
			regulator-max-microvolt = <2050000>;
		};

		pm8916_l5: l5 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on; /* keep it ? */
		};

		pm8916_l6: l6 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		pm8916_l7: l7 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		pm8916_l8: l8 {
			regulator-min-microvolt = <2950000>;
			regulator-max-microvolt = <2950000>;
		};

		pm8916_l9: l9 {
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};

		pm8916_l10: l10 {
			regulator-min-microvolt = <2700000>;
			regulator-max-microvolt = <2800000>;
		};

		pm8916_l11: l11 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2950000>;
			regulator-allow-set-load;
			regulator-system-load = <200000>;
		};

		pm8916_l12: l12 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2950000>;
		};

		pm8916_l13: l13 {
			regulator-min-microvolt = <3075000>;
			regulator-max-microvolt = <3075000>;
		};

		pm8916_l14: l14 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
		};

		pm8916_l15: l15 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
		};

		pm8916_l16: l16 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
		};

		pm8916_l17: l17 {
			regulator-min-microvolt = <2850000>;
			regulator-max-microvolt = <2850000>;
		};

		pm8916_l18: l18 {
			regulator-min-microvolt = <2700000>;
			regulator-max-microvolt = <2700000>;
		};
	};
};

&msmgpio {
	accel_irq_default: accel-irq-default {
		pins = "gpio115";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};

    bq24296 {
        charger_irq_default: charger-irq-default {
			pins = "gpio62";
			function = "gpio";

			drive-strength = <2>;
			bias-pull-up;
	};
        chg_ctl_default: chg-ctl-default {
			pins = "gpio62";
			function = "gpio";

			drive-strength = <2>;
            output-high;
        };
    };

	ext_buck_vsel: ext-buck-vsel {
		pins = "gpio111";
		function = "gpio";

		drive-strength = <2>;
	};

	gpio_hall_sensor_default: gpio-hall-sensor-default {
		pins = "gpio69";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};

	gpio_leds_default: gpio-leds-default {
		pins = "gpio8", "gpio9", "gpio10";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};

	headphones_switch_default: headphones-switch-default {
		pins = "gpio0";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};

	lcd_iovcc_default: lcd-iovcc-default {
		pins = "gpio97";
		function = "gpio";

		drive-strength = <2>;
		output-low;
	};

	lcd_vled_default: lcd-vled-default {
		pins = "gpio32";
		function = "gpio";

		drive-strength = <2>;
		output-low;
	};

	/*mdss {
		mdss_default: mdss-default {
			pins = "gpio25";
			function = "gpio";

			drive-strength = <8>;
			bias-disable;
		};
		mdss_sleep: mdss-sleep {
			pins = "gpio25";
			function = "gpio";

			drive-strength = <2>;
			bias-pull-down;
		};
	};*/

	/*bq {
		bq_irq_default: bq-irq-default {
			pins = "gpio62";
			function = "gpio";

			drive-strength = <2>;
			bias-pull-up;
		};
		bq_irq_sleep: bq-irq-sleep {
			pins = "gpio62";
			function = "gpio";

			drive-strength = <2>;
			bias-pull-up;
		};
	};*/

	speaker_amp_default: speaker-amp-default {
		pins = "gpio3";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};

	spk_ext_pa_boost_default: spk-ext-pa-boost-default {
		pins = "gpio2";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};

	usb_id_default: usb-id-default {
		pins = "gpio117";
		function = "gpio";

		drive-strength = <8>;
		bias-pull-up;
	};

    otg {
        gpio-hog;
        gpios = <108 GPIO_ACTIVE_HIGH>;
        output-high;
        line-name = "otg-gpio";
    };
};
